/* RESET E PRESETS DOS ELEMENTOS*/
body,
p,
h1,
ul,
li {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Volkorn", Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  border-radius: 5px;
  height: 50px;
  widows: 50px;
}

/* LAYOUT MACRO DA PÁGINA*/

.layout{
    width: 100%;
    background-color: #FAFBFC;
    display: grid;
    grid-template-areas: 
    "header        header     header    header"
    "nav_lateral   conteudo   conteudo  anuncios"
    "nav_lateral   conteudo   conteudo  anuncios"
    "footer        footer     footer    footer"
    ;
}

.layout .header{
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    color: #FFF;
    width: 100%;
    height: 100px;

    display: grid;
    grid-template-areas: 
    "logo menu_header"
    ;
    justify-content: space-between;
    align-content: center;


}

.layout .header .logo{
    grid-area: logo;
    width: 200px;
    height: 34px;
    margin-left: 40px;
    
}
.layout .header .menu_header{
    min-width: 287px;
    margin-right: 30px;
}
.layout .header .menu_header ul{
    grid-area: menu_header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}
.layout .header .menu_header ul li p{
    font: 400 1em "Volkorn", Georgia, Serif;
    height: 40px;
    width: 85%;
    background-color: #8841f3;
    border-radius: 5px;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: 0.6s;
    cursor: pointer;
    text-transform: lowercase;
}
.layout .header .menu_header ul li p:hover{
    background-color: #54397C;
}
.layout .nav_lateral{
    width: 100%;
    grid-area: nav_lateral;
    display: grid;  
    justify-content: center;
    min-width: 200px;

}
.layout .nav_lateral .icone{
    width: 140px;
    height: 140px;
    border-radius: 5px;
    background-color: #fff;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
    transition: 0.6s;
    cursor: pointer;
    box-shadow: #e5e5e5 0.3em 0.3em 0.5em
}
.layout .nav_lateral .icone:hover{
    background-color: #9A5DF4;
}
.layout .nav_lateral .icone img{
    width: 100px;
    height: 100px;
}

.layout .conteudo{
    grid-area: conteudo;
    background-color: #fff;
    max-width: 960px;
    justify-self: center;
    padding: 30px;
}

.layout .conteudo .introducao{
    display: grid;
    grid-template-areas: 
    "nome_animal          cards           "
    "texto_introducao     texto_introducao"
    ;
    column-gap: 70px;
}

.layout .conteudo .introducao .nome_animal{
    grid-area: nome_animal;
}
.layout .conteudo .introducao .nome_animal h1{
   
    font: 700 3.75em 'Vollkorn',Georgia, Serif;
    color: #9A5DF4;
    line-height: 0.7;
}

.layout .conteudo .introducao .nome_animal span{
    font: 400 1.2em 'Vollkorn',Georgia, Serif;
    font-style: italic;
    line-height: 1.6em;
    letter-spacing: -.005em;
    color: #B091FC;
}

.layout .conteudo .introducao .card{
    grid-area: cards;
    display: flex;
    column-gap: 30px;

}

.layout .conteudo .introducao .card .card_style{
    width: 80px;
    height: 100px;
    border-radius: 5px;
    box-shadow: #e5e5e5 0.3em 0.3em 0.5em;
   
   
}
.layout .conteudo .introducao .card .card_style h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B07DFB;
    width: 100%;
    height: 70%;
    font-size: 3em;
    line-height: 1;
    font: 400;
    border-radius: 5px 5px 0 0;
    align-self: center;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    
}
.layout .conteudo .introducao .card .card_style p{
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400;
    color: #8844ee;
    width: 100%;
    height: 30%;
    font-size: 1em;
    line-height: 1;
    text-align: center;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    
}

.layout .conteudo .introducao .texto_introducao{
    grid-area: texto_introducao;
    padding: 20px 0;
    font: 400 1.2em 'Vollkorn',Georgia, Serif;
    color: #968b8b;
}

.layout .explanacao{

    display: grid;
    grid-template-rows: 0.5fr 5.5fr 2fr;
    grid-template-areas: 
    "lobo1     texto_roxo"
    "lobo1     lobo2"
    "texto1    texto2"
    ;
    column-gap: 30px;
    row-gap: 15px;
    align-items: center;
}

.layout .explanacao .lobo1{
    grid-area: lobo1;
    width: 100%;
    height: 100%;
}
.layout .explanacao .texto_roxo{
    grid-area: texto_roxo;
    font: 400 1.2em 'Vollkorn',Georgia, Serif;
    color: #B091FC;
}
.layout .explanacao .lobo2{
    grid-area: lobo2;
    width: 100%;
    height: 100%;
}
.layout .explanacao .texto1{
    grid-area: texto1;
    display: grid;
    justify-items: center;
    font: 400 1.2em 'Vollkorn',Georgia, Serif;
    color: #444040;
}
.layout .explanacao .texto2 {
    grid-area: texto2;
    display: grid;
    justify-items: center;
    font: 400 1.2em 'Vollkorn',Georgia, Serif;
    color: #444040;
}

.layout .frase{
    margin-top: 30px;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    height: 250px;
    width: 100%;
    border-radius: 5px;
    display: grid;
    align-items: center;
    justify-items: center;
   
}
.layout .frase p{
    font: 400 1.5em 'Vollkorn',Georgia, Serif;
    font-style: italic;
    color: #fff;
    max-width: 50%;
    letter-spacing: 0.05em;
    text-align: center;
}

.layout .detalhes{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    column-gap: 30px;
    min-height: 350px;
}
.layout .detalhes ul {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
    background: linear-gradient(135deg, #8844ee, #B07DFB);
   
}
.layout .detalhes ul li{
    font: 400 1.5em 'Vollkorn',Georgia, Serif;
    color: #fff;
    margin: 20px 0 20px 15px;
    letter-spacing: 0.05em;

}
.layout .detalhes ul li::after
{
    content:"";
    display:block;
    position: absolute;
    width: 350px;
    margin: 15px auto;
    height: 2px;
    opacity: 0.2;
    background-color: #e5e5e5;
}
.layout .detalhes ul li:last-child::after{
    display: none;
}
.layout .detalhes .texto_datalhes {
    display: grid;
    column-gap:10px;
    font: 400 1.3em 'Vollkorn',Georgia, Serif;
    color: #444040;
}
.img_final img{
    margin: 30px 0;
    width: 100%;
    height: 100%;
}
.layout .anuncios{
    grid-area: anuncios;
    min-width: 220px;

    margin: 30px auto;
}
.layout .anuncios img{
    margin-bottom: 30px;
    width:250px;
    height:200px;
    box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
}
.layout .footer{
    grid-area: footer;
    width: 100%;
    min-height: 80px;
    display: grid;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    font: 400 1.2em 'Vollkorn',Georgia, Serif;
    color: #fff;
}

